# This is a template `pr.yaml` file for snaps
# This file is managed by bootstack-charms-spec and should not be modified
# within individual snap repos. https://launchpad.net/bootstack-charms-spec

name: PR workflow running lint checkers, unit and functional tests

on:
  push:
    branches: [ master, main ]
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ master, main ]
  pull_request_review:
    types: [ submitted ]

jobs:
  pr:
    uses: agileshaw/bootstack-actions/.github/workflows/pull-request.yaml@remove-approval-trigger
    secrets: inherit
    with:
      python-version-unit: "['3.8', '3.10']"
      python-version-func: "3.10"
      tox-version: "<4"
      snapcraft: true
      commands: "['make functional']"
