name: Publish snap

on:
  push:
    branches:
      - '[0-9].[0-9]+'
      - main
      - master
  workflow_dispatch:

jobs:
  publish:
    uses: canonical/bootstack-actions/.github/workflows/snap-release.yaml@main
    secrets: inherit
    with:
      python-version-unit: "['3.8', '3.10']"
      python-version-func: "3.10"
      tox-version: "<4"
      snapcraft: true
      commands: "['make functional']"
      juju-channel: "3.4/stable"
      # "channel" should be one or a (comma-separated) list of <track>/<risk-level>
      # Check if the current branch is the default ("main" or "master"). If true, track is set to "latest";
      # otherwise, use the versioned branch name as the track name
      # The risk level we want to release the snap to is "edge"
      channel: ${{ contains(fromJSON('["main", "master"]'), github.ref_name) && 'latest' || github.ref_name }}/edge
